<mat-card class="movie-card">
  <div class="card-container">
    <div class="card-image">
      <img
        mat-card-image
        [src]="'https://image.tmdb.org/t/p/w220_and_h330_face' + movieDetail.backdrop_path"
        [alt]="movieDetail.original_title"
      />
    </div>
    <div class="card-content">
      <mat-card-header>
        <mat-card-title>{{ movieDetail.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span>{{ movieDetail.overview }}</span>
        <h3>Production:</h3>
        <ul>
          @for(item of movieDetail.production_companies; track $index) {
            <li>
              <img [src]="'https://image.tmdb.org/t/p/w220_and_h330_face'+item.logo_path" alt="">
              <p>{{item.name}}</p>
            </li>
          }
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="accent">LOOK MOVIE</button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
