.movie-card{
  padding: 20px;
  background-color: black;
  color: white;
  .card-container{
    display: grid;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 24rem), 1fr));
    .card-image{
      img{
        width: 100%;
        height: auto;
      }
    }
    .card-content ul{
      // display: grid;
      // gap:5px;
      // grid-template-columns: auto;
      // grid-template-columns: 1fr 1fr;
      // width: 100%;
      text-align: left;
      li{
        margin-left: 0;
        list-style: none;
        margin-bottom: 5px;
        img{
          width: 100%;
        }
        span{
          font-weight: bold;
        }
        &::marker{
          color: red;
        }
    }
  }
}
}
